.add-component__tr {
  display: grid;
  border-bottom: 1px solid $special_grey;

  &:first-child {
    border-top: 1px solid $special_grey;
  }

  .add-component__td {
    display: flex;

    p {
      @include margin-h-reset;
      line-height: 14px;
    }
  }

  @media (max-width: $sm-tablet-width) {
    grid-template-columns: 80% 20%;
    grid-template-rows: auto;

    .add-component__td {
      justify-content: space-between;

      &:nth-child(2n+1) {
        justify-content: flex-end;
      }

    }

    .add-component__td:first-child {
      grid-area: 1/ 2 span;
      justify-content: flex-start;
    }

    .add-component__td:last-child {
      grid-area: 3/ 2 span;
      justify-content: center;
    }

    p {
      padding-bottom: 15px;
    }
  }

  @media (min-width: 700px) {

    p {
      text-align: right;
    }
  }

  @media (min-width: 521px) and (max-width: 992px) {
    grid-template-columns: 40% 45% 15%;
    grid-template-rows: auto;
    align-items: center;
    padding-top: 26px;
    padding-left: 37px;
    padding-right: 37px;
    border-left: 1px solid $special_grey;
    border-right: 1px solid $special_grey;

    .add-component__td {
      padding-bottom: 23px;
    }

    .add-component__td:nth-child(2n) {
      justify-content: flex-end;
    }

    .add-component__td:nth-child(2n+1) {
      justify-content: flex-end;
    }

    .add-component__td:first-child {
      grid-area: 1/1;
      justify-content: flex-start;
    }

    .add-component__td:last-child {
      grid-area: 2/3 span;
    }
  }

  @media (min-width: $sm-desktop-width) {
    grid-template-columns: 3fr 3fr 1fr 2fr;

    .add-component__td {
      align-content: center;
      align-items: center;
      padding-top: 13px;
      padding-bottom: 14px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 220px 210px 120px 200px;
  }

  @media (min-width: 1300px) {
    grid-template-columns: 230px 210px 120px 230px;
  }

  @media (min-width: 1440px) {
    grid-template-columns: 310px 240px 80px 280px;
  }
}
