.component__label {
  position: relative;
  margin-left: 45px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: -45px;
    top: -4px;
    border: 1px solid $special_grey;

    @media (min-width: $tablet-width) {
      left: -65px;
      width: 40px;
      height: 40px;
    }
  }
}

.component__input:checked + .component__label::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 16px;
  top: 1px;
  left: -34px;
  border-right: 2px solid $basic_green;
  border-bottom: 2px solid $basic_green;
  transform: rotate(45deg);

  @media (min-width: $tablet-width) {
    top: -1px;
    left: -51px;
    width: 13px;
    height: 24px;
  }
}

.component__input:hover + .component__label::before,
.component__input:checked + .component__label::before {
  border: 1px solid $special_light-grey-2;
}

.component__input:hover + .component__label::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 16px;
  top: 1px;
  left: -34px;
  border-right: 2px solid $basic_green;
  border-bottom: 2px solid $basic_green;
  transform: rotate(45deg);

  @media (min-width: $tablet-width) {
    width: 13px;
    height: 24px;
    top: -1px;
    left: -51px;
  }
}

.component__input:disabled + .component__label::before,
.component__input:hover:disabled + .component__label::before,
.component__input:hover:checked:disabled + .component__label::before {
  border: 1px solid $special_dark-grey;
  opacity: 0.45;
}

.component__input:disabled + .component__label,
.component__input:checked:disabled + .component__label {
  cursor: initial;
  opacity: 0.3;
}

.component__input:checked:disabled + .component__label::after,
.component__input:hover:checked:disabled + .component__label::after {
  opacity: 1;
}

.component__input:hover:disabled + .component__label::after {
  opacity: 0.45;
}

.component__input:disabled + .component__label:hover::after,
.component__input:hover:disabled + .component__label::after {
  border-right: 2px solid $basic_green;
  border-bottom: 2px solid $basic_green;
}
