.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  min-width: 100%;
  @include centration;
  z-index: 3;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 2fr;
  }

  @media (min-width: 820px) {
    grid-template-columns: 1fr;
  }

  @media (min-width: $sm-desktop-width) {
    grid-template-columns: 1fr 1fr;
    width: 976px;
  }

  @media (min-width: $xl-width) {
    width: 1423px;
    min-width: 1423px;
    margin: 0 auto;
  }
}

.container--menu-wrapper {
  grid-area: 1/1/1/1;
  /*padding-top: 16px*/
  padding-top: 0;
  box-sizing: border-box;
  margin: 0 auto;
  z-index: 4;

  @media (min-width: 700px) {
    padding-top: 25px;
  }

  @media (min-width: 820px) {
    grid-template-columns: 1fr 1fr;
    max-height: 100px;
  }

  @media (min-width: $sm-desktop-width) {
  }

  @media (min-width: $xl-width) {
    padding-top: 58px;

  }
}

.container--main-header-theme {

  @media (min-width: $sm-desktop-width) {
    grid-area: 1/1/2/1;
    grid-template-columns: 1fr;
  }
}

.container--cat-weight-theme {

  @media (min-width: $sm-desktop-width) {
    grid-template-columns: 45% 55%;
    grid-template-rows: auto 2fr auto;
  }

  @media (min-width: 1100px) {
    grid-template-columns: 41% 59%;
  }
}

.container--catalog-list-theme {
  grid-template-columns: 1fr;
}

.container--additives-theme {
  display: grid;
  grid-auto-rows: auto;
  /*padding-top: 33px;*/
  padding-bottom: 37px;

  @media (max-width: $mobile-width) {
    grid-template-columns: 1fr;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr;
    padding-bottom: 76px;
  }

  @media (min-width: $sm-desktop-width) {
    grid-template-columns: 70% 25%;
    grid-template-rows: auto;
    align-items: center;
    padding-top: 0;
    padding-bottom: 86px;
  }

  @media (min-width: $desktop-width) and (max-width: 1299px) {
    grid-template-columns: 72% 25%;
  }

  @media (min-width: $xl-width) {
    grid-template-columns: 68% 32%;
  }
}

.container--address-card-theme {
  min-width: 100%;
  background-color: $basic_white;

  @media (min-width: $sm-desktop-width) {
    grid-area: 1/1/1/1;
    grid-template-rows: 201px;
    @include padding-hor-reset;
    padding-top: 95px;
    background-color: transparent;
  }
}

.container--address-card-inner {

  @media (min-width: 700px) {
    width: 620px;
    min-width: 620px;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    min-width: 100%;
  }

  @media (max-width: 992px) {
    background-color: $basic-light-grey-3;
  }
}

.container--program-main {
  grid-area: 1/1/1/1;
  z-index: 1;

  p {
    @include margin-h-reset;
    margin-top: 37px;
    margin-bottom: 39px;
    @include font-family-headline;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: $basic_black;

    @media (min-width: $tablet-width) {
      min-width: 688px;
      grid-template-columns: 1fr;
      margin-top: 48px;
      margin-bottom: 10px;
      font-size: 20px;
      line-height: 30px;
    }
  }

  @media (min-width: 700px) {
    width: 620px;
    min-width: 620px;
  }

  @media (min-width: $tablet-width) {
    min-width: 688px;
    width: 688px;
  }

  @media (min-width: 820px) {
    min-width: 100%;
    width: 100%;
  }

  @media (min-width: $xl-width) {
    width: 1440px;
    min-width: 1440px;
    margin: 0 auto;
  }
}

.container--program-field-theme {
  grid-template-columns: 1fr;

  @media (min-width: 700px) {
    width: 620px;
    min-width: 620px;
  }

  @media (min-width: $tablet-width) {
    min-width: 688px;
    width: 688px;
  }

  @media (min-width: 820px) {
    min-width: 100%;
    width: 100%;
  }

  @media (min-width: $xl-width) {
    width: 1440px;
    min-width: 1440px;
    margin: 0 auto;
  }
}

.container--program-field-theme-first,
.container--program-field-theme-second {

  @media (min-width: 1440px) {
    width: 720px;
    min-width: 720px;
    margin: 0 auto;
  }
}

.container--main-footer-theme {

  @media (min-width: 0) and (max-width: $sm-tablet-width) {
    grid-template-columns: 1fr;
  }

  @media (min-width: 700px) {
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.container--submit-form-theme {
  margin-bottom: 32px;

  @media (min-width: $sm-tablet-width) {

    grid-template-columns: repeat(auto-fill, 240px);
    justify-content: start;
    align-items: center;
    column-gap: 60px;
  }

  @media (min-width: 700px) {
    grid-template-columns: repeat(auto-fill, 250px);
    width: 620px;
    min-width: 620px;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(auto-fill, 310px);
    min-width: 688px;
    width: 688px;
  }

  @media (min-width: 820px) {
    grid-template-columns: repeat(auto-fill, 350px);
    min-width: 100%;
    width: 100%;
    column-gap: 90px;
  }

  @media (min-width: $sm-desktop-width) {
    grid-area: 4/2 span;
    width: 100%;
    margin-top: 61px;
    grid-template-columns: 528px 300px;
  }

  @media (min-width: $xl-width) {
    grid-template-columns: 680px 300px;
  }
}
