.main-footer-logo {
  display: flex;
  justify-content: center;

  @media (min-width: 700px) {
    justify-content: flex-start;
  }

  @media (min-width: 820px) {
    padding-right: 0;
  }

  .main-footer-logo__logo-text {
    display: flex;
    width: 100%;
    min-height: 95px;
    align-content: center;

    img {
      display: block;
      margin: auto;

      @media (min-width: 700px) {
        margin: 0;
      }
    }

    @media (max-width: 699px) {
      align-self: center;
      border-bottom: 1px solid $basic-dark-grey;
    }
  }
}
