.photo-slider__item {
  grid-area: 1/1/1/1;
  display: block;
  width: 100%;
  z-index: 2;

  @media (max-width: $mobile-width-only) {

    img {
      width: 311px;
      object-fit: contain;
    }
  }
}

@media (max-width: $sm-tablet-width) {

  .photo-slider__item--fat-cat {
    display: block;
  }

  .photo-slider__item--thin-cat {
    display: none;
  }
}

@media (min-width: 521px) {
  .photo-slider__item--fat-cat {
    grid-area: 1/1 span;
    height: 300px;
    width: 200px;
    background-image: url(../img/index/cat_fat_sm.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url(../img/index/cat_fat_sm-2x.png);
    }

    img {
      display: none;
    }
  }

  .photo-slider__item--thin-cat {
    grid-area: 1/1 span;
    height: 300px;
    width: 200px;
    background-image: url(../img/index/cat_thin_sm.png);
    background-repeat: no-repeat;
    background-position: -140px center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url(../img/index/cat_thin_sm-2x.png);
    }

    img {
      display: none;
    }
  }
}

@media (min-width: 700px) {

  .photo-slider__item--fat-cat {
    height: 338px;
    width: 220px;
    background-position: -5px center;
  }

  .photo-slider__item--thin-cat {
    height: 345px;
    width: 220px;
    background-position: -165px center;
  }
}

@media (min-width: $tablet-width) {

  .photo-slider__item--fat-cat {
    height: 510px;
    width: 300px;
    background-position: -30px center;
  }

  .photo-slider__item--thin-cat {
    height: 510px;
    width: 300px;
    background-position: -243px center;
  }
}

@media (min-width: $sm-desktop-width) {

  .photo-slider__item--fat-cat {
    height: 380px;
    width: 285px;
    background-position: 18px center;
  }

  .photo-slider__item--thin-cat {
    height: 380px;
    width: 260px;
    background-position: -198px center;
  }
}

@media (min-width: 1100px) {

  .photo-slider__item--fat-cat {
    height: 420px;
    width: 270px;
    background-position: -25px center;
  }

  .photo-slider__item--thin-cat {
    height: 420px;
    width: 265px;
    background-position: -218px center;
  }
}

@media (min-width: $desktop-width) {

  .photo-slider__item--fat-cat {
    height: 480px;
    width: 350px;
    background-position: 15px center;
  }

  .photo-slider__item--thin-cat {
    height: 485px;
    width: 350px;
    background-position: -254px center;
  }
}
