.required-sign {

  p {
    @include margin-h-reset;
      text-align: center;

    @media (min-width: 700px) {
      text-align: left;
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 40px;
  }

  @media (min-width: $xl-width) {
    padding-left: 0;
  }
}

