.slider-controls {
  width: 227px;
  margin-top: 21px;
  margin-bottom: 25px;
  @include centration;

  @media (min-width: 521px) and (max-width: $mobile-width-only) {
    width: 400px;
  }

  @media (min-width: $tablet-width) {
    width: 590px;
    margin-top: 14px;
    margin-bottom: 67px;
  }

  @media (min-width: $sm-desktop-width) and (max-width: 1099px) {
    width: 400px;
    margin-top: 0;
    margin-bottom: 42px;
  }

  @media (min-width: 1100px) {
      width: 535px;
      margin-top: 57px;
      margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 52px;
    margin-bottom: 52px
  }

  @media (min-width: $xl-width) {
    width: 590px;
    margin-top: 36px;
    margin-left: 120px;
    margin-bottom: 57px;
  }
}

.slider-controls__progress {
  position: relative;
  padding: 13px 72px;

  @media (min-width: $tablet-width) {
    padding: 15px 80px;
  }
}

