$special_dark-grey: #444444;
$special_dark-grey-2: #666666;
$special_dark-grey-3: #EBEBEB;
$special_grey: #CDCDCD;
$special_light-grey: #E7E7E7;
$special_light-grey-2: #BABABA;
$basic_black: #000000;
$basic_black-2: #222222;
$basic_black-alfa:rgba(0, 0, 0, 0.16);
$basic_black-alfa-2:rgba(0, 0, 0, 0.19);
$basic_black-alfa-3:rgba(0, 0, 0, 0.2);
$basic_white: #ffffff;
$basic_white-alfa: rgba(255, 255, 255, 0.3);
$basic_green: #68B738;
$basic_green-2: rgb(94, 170, 47);
$basic_green-alfa: rgba(104, 183, 56, 0.85);
$basic-light-grey: #E6E6E6;
$basic-light-grey-2: #EAEAEA;
$basic-light-grey-3: #F2F2F2;
$basic-grey: #F2F2F2;
$basic-dark-grey: #D9D9D9;
$basic-dark-grey-2: #DCDCDC;
$basic-transparent: rgba(255, 255, 255, 0);
$basic-red:#FF8282;
$f-size-level1: 36px;
$mobile-width: 320px;
$sm-tablet-width: 520px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$sm-desktop-width: 993px;
$desktop-width: 1200px;
$xl-width: 1440px;
$height-s: 755px;
$height-m: 800px;
$height-l: 900px;

